@use "../../variable.scss" as mixin;
.header {
    margin: 1.5rem 0;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: mixin.$secondaryColor;
        font-size: 1.5rem;
        font-weight: 720;
    }
}